@import 'flowbite';

:root {
  --background-color: #2c2c2c; /* Color de fondo oscuro */
  --text-color: #f1f1f1;       /* Color de texto blanco */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif; /* Puedes cambiar la fuente si deseas */
  line-height: 1.6;
  margin: 0;
  padding: 0;
}